[Unit]
Description=LoRa Control Pro Web Interface
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/lorareplay
Environment=PATH=/home/pi/lorareplay/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/pi/lorareplay/venv/bin/python /home/pi/lorareplay/server.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lorareplay

[Install]
WantedBy=multi-user.target
